<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - VehicleInsuranceManagement</title>
    <meta charset="utf-8">
    <title>Noorjahan Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/Content/assets/img/favicon.png" rel="icon">
    <link href="~/Content/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/Content/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/venobox/venobox.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/owl.carousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="~/Content/assets/vendor/aos/aos.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/Content/assets/css/style.css" rel="stylesheet">
</head>
<body>
    <header id="header" class="fixed-top " >
        <div class="container d-flex align-items-center" style="background-color:darkslateblue">

            <h1 class="logo mr-auto"><a href="index.html">NOORJAHAN VEHICLE INSURANCE</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav class="nav-menu d-none d-lg-block" >
                <ul>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#portfolio">Portfolio</a></li>
                    <!-- <li><a href="#team">Team</a></li> -->
                    <!--  <li class="drop-down"><a href="">Products</a>
                       <ul>
                         <li><a href="#">Bike Insurance</a></li>
                         <li class="drop-down"><a href="#">Deep Drop Down</a>
                           <ul>
                             <li><a href="#">Deep Drop Down 1</a></li>
                             <li><a href="#">Deep Drop Down 2</a></li>
                             <li><a href="#">Deep Drop Down 3</a></li>
                             <li><a href="#">Deep Drop Down 4</a></li>
                             <li><a href="#">Deep Drop Down 5</a></li>
                           </ul>
                         </li>
                         <li><a href="#">Car Insura</a></li>
                         <li><a href="#">Drop Down 3</a></li>
                         <li><a href="#">Drop Down 4</a></li>
                         <li><a href="#">Drop Down </a></li>
                         <li><a href="#">Drop Down </a></li>
                       </ul>
                     </li> -->
                    <li><a href="#contact">Contact</a></li>
                    <li >@Html.ActionLink("SignOut", "Logout", "Home")</li>

                </ul>
                @*<a href="#about" class="get-started-btn scrollto">Get Started</a>*@
            </nav><!-- .nav-menu -->

           

        </div>
    </header><!-- End Header -->
    <div>
        @RenderBody()
    </div>
    <footer id="footer">

        <div class="container footer-bottom clearfix">
            <div class="copyright">
                &copy; Copyright <strong><span>Noorjahan</span></strong>. All Rights Reserved
            </div>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
                Designed by <a href="https://bootstrapmade.com/">Shuvo</a>
            </div>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="~/Content/assets/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="~/Content/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/Content/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
    <script src="~/Content/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/Content/assets/vendor/venobox/venobox.min.js"></script>
    <script src="~/Content/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendor/aos/aos.js"></script>
    <!-- Template Main JS File -->
    <script src="~/Content/assets/js/main.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
